<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <package name="stsim-cbmcfs3" displayName="Integrates the Carbon Budget Model for the Canadian Forest Sector (CBM-CFS3) into the ST-Sim simulation model." version="1.0.0" isAddOn="True" extendsPackage="stsim" requiresAddOns="stsim-stockflow" configVersion="2.0000" url="https://github.com/ApexRMS/stsim-cbmcfs3">
    <transformers>
      <transformer name="stsim-cbmcfs3:primary" displayName="CBM-CFS3 Flow Pathways" isPrimary="True" extendsTransformer="stsim:runtime" userRunnable="True" runOrder="Before" runContext="LocalOnly" externalProgramName="Rscript.exe" externalProgramArguments="transformer.R" className="SyncroSim.StochasticTime.StochasticTimeTransformer" classAssembly="SyncroSim.StochasticTime" configurationSheet="STSim_RunControl">
        <datafeeds>
          <datafeed name="stsim-cbmcfs3:cbm-database" displayName="CBM-CFS3 Database" dataScope="Library">
            <datasheets>
              <datasheet name="CBMCFS3_Database" displayName="CBM-CFS3 Database" isSingleRow="True">
                <columns>
                  <column name="CBMDatabaseID" dataType="Integer" isPrimary="True"/>
                  <column name="Path" dataType="String" isExternalFile="True" externalFileAbsolute="True" externalFileFilter="CBM-CFS3 Files|*.mdb;*.accdb|All Files|*.*"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-cbmcfs3:ecoboundary-datafeed" displayName="Ecological Boundary" dataScope="Project">
            <datasheets>
              <datasheet name="CBMCFS3_EcoBoundary" displayName="Ecological Boundary" valueMember="EcoBoundaryID" displayMember="Name">
                <columns>
                  <column name="EcoBoundaryID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-cbmcfs3:adminboundary-datafeed" displayName="Administrative Boundary" dataScope="Project">
            <datasheets>
              <datasheet name="CBMCFS3_AdminBoundary" displayName="Administrative Boundary" valueMember="AdminBoundaryID" displayMember="Name">
                <columns>
                  <column name="AdminBoundaryID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-cbmcfs3:speciestype-datafeed" displayName="Species Type" dataScope="Project">
            <datasheets>
              <datasheet name="CBMCFS3_SpeciesType" displayName="Species Type" valueMember="SpeciesTypeID" displayMember="Name">
                <columns>
                  <column name="SpeciesTypeID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-cbmcfs3:disturbancetype-datafeed" displayName="Disturbance Type" dataScope="Project">
            <datasheets>
              <datasheet name="CBMCFS3_DisturbanceType" displayName="Disturbance Type" valueMember="DisturbanceTypeID" displayMember="Name">
                <columns>
                  <column name="DisturbanceTypeID" dataType="Integer" isPrimary="True"/>
                  <column name="ProjectID" dataType="Integer"/>
                  <column name="Name" dataType="String"/>
                  <column name="Description" dataType="String" isOptional="True"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
           <datafeed name="stsim-cbmcfs3:stsc-crosswalk-datafeed" displayName="CBM-CFS3 Crosswalk Spatial Unit and Species Type" dataScope="Scenario">
            <datasheets>
              <datasheet name="CBMCFS3_CrosswalkSpecies" displayName="CBM-CFS3 Crosswalk Species">
                <columns>
                  <column name="CrosswalkSpeciesID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="EcoBoundaryID" dataType="Integer" displayName="CBM-CFS3 Ecological Boundary" validationType="Datasheet" formula1="CBMCFS3_EcoBoundary" allowDbNull="False"/>
                  <column name="AdminBoundaryID" dataType="Integer" displayName="CBM-CFS3 Administrative Boundary" validationType="Datasheet" formula1="CBMCFS3_AdminBoundary" allowDbNull="False"/>
                  <column name="SpeciesTypeID" dataType="Integer" displayName="CBM-CFS3 Species Type" validationType="Datasheet" formula1="CBMCFS3_SpeciesType" allowDbNull="False"/>
                  <column name="StratumID" dataType="Integer" displayName="ST-Sim Stratum" validationType="Datasheet" formula1="STSim_Stratum" isOptional="True" initOptionalVisible="True"/>
                  <column name="SecondaryStratumID" dataType="Integer" displayName="ST-Sim Secondary Stratum" validationType="Datasheet" formula1="STSim_SecondaryStratum" isOptional="True" initOptionalVisible="True"/>
                  <column name="TertiaryStratumID" dataType="Integer" displayName="ST-Sim Tertiary Stratum" validationType="Datasheet" formula1="STSim_TertiaryStratum" isOptional="True" displayNameSource="STSim_Terminology" displayNameColumn="TertiaryStratumLabel"/>
                  <column name="StateClassID" dataType="Integer" displayName="ST-Sim State Class" validationType="Datasheet" formula1="STSim_StateClass" isOptional="True" initOptionalVisible="True" />
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>
          <datafeed name="stsim-cbmcfs3:tg-crosswalk-datafeed" displayName="CBM-CFS3 Crosswalk Disturbance" dataScope="Scenario">
            <datasheets>
              <datasheet name="CBMCFS3_CrosswalkDisturbance" displayName="CBM-CFS3 Crosswalk Disturbance">
                <columns>
                  <column name="CrosswalkDisturbanceID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="DisturbanceTypeID" dataType="Integer" displayName="CBM-CFS3 Disturbance Type" validationType="Datasheet" formula1="CBMCFS3_DisturbanceType" allowDbNull="False"/>
                  <column name="TransitionGroupID" dataType="Integer" displayName="ST-Sim Transition Type/Group" validationType="Datasheet" formula1="STSim_TransitionGroup" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed> 
          <datafeed name="stsim-cbmcfs3:sf-crosswalk-datafeed" displayName="CBM-CFS3 Crosswalk Carbon Stock" dataScope="Scenario">
            <datasheets>
              <datasheet name="CBMCFS3_CrosswalkStock" displayName="CBM-CFS3 Crosswalk Carbon Stock">
                <columns>
                  <column name="CrosswalkStockID" dataType="Integer" isPrimary="True"/>
                  <column name="ScenarioID" dataType="Integer" isCompositeIndex="True"/>
                  <column name="CBMStock" dataType="String" displayName="CBM-CFS3 Stock" allowDbNull="False"/>
                  <column name="StockTypeID" dataType="Integer" displayName="ST-Sim Stock Type" validationType="Datasheet" formula1="SF_StockType" allowDbNull="False"/>
                </columns>
              </datasheet>
            </datasheets>
          </datafeed>           
        </datafeeds>
      </transformer>
    </transformers>
    <layouts>
      <layout name="system-forms:library-datafeeds" appendTo="Options">
        <item name="stsim-cbmcfs3:cbm-database"/>
      </layout>
      <layout name="system-forms:project-datafeeds" appendTo="Advanced">
        <group name="CBM-CFS3">
          <item name="stsim-cbmcfs3:ecoboundary-datafeed"/>
          <item name="stsim-cbmcfs3:adminboundary-datafeed"/>
          <item name="stsim-cbmcfs3:speciestype-datafeed"/>
          <item name="stsim-cbmcfs3:disturbancetype-datafeed"/>
        </group>
      </layout>
      <layout name="system-forms:scenario-datafeeds" appendTo="Advanced">
        <group name="CBM-CFS3 to ST-Sim Crosswalk">
          <item name="stsim-cbmcfs3:stsc-crosswalk-datafeed" displayName="Spatial Unit and Species Type"/>
          <item name="stsim-cbmcfs3:tg-crosswalk-datafeed" displayName="Disturbance"/>
          <item name="stsim-cbmcfs3:sf-crosswalk-datafeed" displayName="Carbon Stock"/>         
        </group>
      </layout>      
    </layouts>
  </package>
</configuration>
